html {
	box-sizing: border-box;
}
body {
	background-color: map-get($colors, gris);
	font-family: $fuenteprincipal;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.6rem;
}