extends ../templates/template
include ../mixins/link
include ../mixins/services
include ../mixins/articles

block header
    if has_logo
        .nav-bar.container
            .logo-item
                img(src=`${patch}/${enlace}`, alt="")
    else
        .nav-bar.container
            .logo-item
                h1
                    a.logo(href="#")= logo_title
    if has_mobile_menu
        nav.main-nav 
            include ../includes/menu
            include ../includes/nav
    else
        include ../includes/nav
        
block carrousel
    if has_carrousel
        include ../components/carrousel
    else
        include ../components/picture
block services
    each s in services
        +service(s)
block articles
    each a in articles
        +article(a)
block hero
    include ../includes/hero
block form-contact
    include ../includes/form
block footer
    include ../includes/footer
append js
    script(src='./js/app.min.js')

