extends ../templates/template
include ../mixins/link
include ../mixins/services

block header
    if has_logo
        .nav-bar.container
            .logo-item
                h1
                    a.logo(href="#")= author
    if has_menu
        .nav-list
            each name in navContent
                +link('#', `${name}`)
    if has_mobile_menu
        include ../includes/menu
block hero
    include ../includes/hero
block services
    each s in services 
        +service(s)
block form-contact
    include ../includes/form
block footer 
    include ../includes/footer
append js
    script(src='js/app.js')

