mixin card(data)
    article.card.horizontal
        .image
            img(src=`${data.img}`, alt=`${data.article}`)
        header.info
            h2= data.article
            p= data.text
            
        
        