- const author = 'Santiago Monaco';
- const navContent = ['inicio', 'servicios', 'blog', 'contactos'];

- const services = [{service: 'Diseño Web', icon: 'pencil-alt', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero eius consectetur, ducimus velit dignissimos minus.'}, {service: 'Programacion', icon: 'code', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis saepe illo architecto reiciendis alias, in quae aperiam illum est dicta.'},{service: 'E-commerce', icon: 'shopping-bag', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eum voluptatum error illum facere beatae.'}];



- let is_default = false;

- let has_header = true;
- let has_slider = false;
- let has_hero = true;
- let has_services = false;
- let has_footer = false;


- let has_logo = false;
- let has_menu = false;
- let has_mobile_menu = false;