section.footer-content
    p.date 2023 Freelancer
section.footer-content
    h4.logo-footer
section.footer-content  
    .footer-list.end-footer
        each name in navContent
            +link('#', `${name}`)